/* src/App.css */
.App {
  text-align: center;
  margin: 30px;
  background-color: yellowgreen;
  padding: 20px;
}

form {
  margin-bottom: 30px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  background-color: lightyellow;
  box-shadow: 5px 8px 7px lightcyan;
}

.review {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  word-wrap: break-word;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: lightcoral;
}